@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

:root {
  --primary: #464646;
  --title: #2f2f2f;
  --sub-title: #464646;
  --text: #696969;
  --accent: #1363c0;
}

body {
  font-family: "NanumSquare", sans-serif !important;
  color: var(--text);
  position: relative;
  width: 100%;
  font-size: 20px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.wrapper {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.container {
  margin-top: 60px;
}

.btn_top {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--title);
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1;
}

.btn_top::after {
  content: "";
  width: auto;
  display: block;
  border-bottom: 2px solid var(--title);
  margin-top: 5px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: var(--title);
  padding-top: 60px;
  text-align: center;
}

.text_color {
  color: var(--accent);
}

.sub_title {
  font-size: 18px;
  text-align: center;
  margin: 20px 0 100px;
}

/* header_menu */
header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header.active {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 30px;
  color: var(--title);
  font-family: "Nanum Myeongjo", serif;
}

.menu {
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding-left: 100px;
}

.mainmenu {
  margin: -100px;
  animation: menu 1s 2s forwards;
}

/* home --start*/
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../images/yunjin/IMG_0338.jpg) no-repeat center / cover;
  animation: bgscale 1s forwards;
}

section .main_text {
  position: absolute;
  top: 40%;
  right: 0;
  text-align: right;
  font-size: 68px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  opacity: 0;
  animation: opacity 1s 1.2s forwards;
}

section .main_text .main_text_color {
  font-size: 90px;
  color: var(--accent);
  font-weight: 700;
  text-shadow: 0px 0px 5px rgba(100, 155, 255, 1);
  margin-right: 200px;
  opacity: 0;
  animation: slide 1.2s 0.8s forwards;
}

section .main_text .main_text_bold {
  font-size: 90px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 10px var(--title);
}

.main_icon {
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: flex;
  opacity: 0;
  animation: opacity 1s 1.2s forwards;
}

.call {
  position: relative;
  cursor: pointer;
}

.phon_popup {
  position: absolute;
  bottom: 74px;
  left: -42px;
  width: 150px;
  height: 60px;
  background: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 700;
  display: none;
}

.phon_text {
  font-size: 18px;
}

.phon_popup::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #ffffff;
  transform: rotate(45deg) translateX(-50%);
}

.main_icon li {
  color: var(--accent);
  font-size: 30px;
  text-align: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 58px;
  margin: 0 10px;
  box-sizing: border-box;
}

.main_icon li:nth-child(1) a i,
.main_icon li:nth-child(3) a i {
  font-weight: bold;
}

/* home --end*/

/* footer */
.info {
  height: 250px;
  box-sizing: border-box;
}

.info ul {
  display: block;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 140px;
}

.info ul li {
  padding: 0 15px;
}

.info ul li i {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  padding: 2rem 3rem;
  background: #ffffff;
  display: none;
  z-index: 101;
}

.modal button {
  position: absolute;
  top: -5%;
  right: 0;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  background: none;
  color: #ffffff;
  outline: none;
}

/* slick */
.slick-dots {
  bottom: 10px;
}

.slick-dots li {
  margin: 0;
}

/* keyframe */

@keyframes menu {
  0% {
    margin: -100px;
  }
  100% {
    margin: 0px;
  }
}

@keyframes bgscale {
  0% {
    transform: scale(3);
    filter: blur(6px);
  }

  70% {
    filter: blur(6px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-right: 200px;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
