/* 2page- publishing --start */
.title_pub {
  padding-top: 0;
}
.section .title::after {
  content: "";
  width: 20%;
  display: block;
  border-bottom: 5px solid var(--accent);
  margin: 15px auto 0;
}

.pub_sub {
  margin-bottom: 50px;
}

.fullpage p .text_color,
.design_sec01 p .text_color {
  font-size: 22px;
}

.pub_content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.publishing_img {
  width: 800px;
  height: 280px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 20px;
}

.pub_content a {
  width: 800px;
  height: 280px;
}
.pub_content .publishing_img img:hover {
  animation: scale2 1.2s forwards;
}

.publishing_img img {
  width: 120%;
  height: 120%;
}

.pub_text {
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pub_title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--accent);
  margin: 0 0 30px;
}

.pub_text p {
  width: 340px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 1.4;
}

.pub_info ul {
  padding-top: 50px;
}

.click-icon {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #8097ff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.click-icon-left {
  position: absolute;
  bottom: 20px;
  right: 50px;
  color: #8097ff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-icon::before {
  font-family: xeicon;
  content: "\e93b";
  position: absolute;
  top: -2px;
  left: -24px;
  font-size: 24px;
  padding-right: 6px;
  font-weight: 700;
  color: #546ee6;
  animation: slide 1.5s infinite;
}

.click-icon-left::after {
  font-family: xeicon;
  content: "\e93e";
  position: absolute;
  top: -2px;
  right: -110px;
  font-size: 24px;
  padding-right: 6px;
  font-weight: 700;
  color: #546ee6;
  animation: slide2 1.5s infinite;
}

span {
  animation: scale 1.5s infinite;
}

@keyframes slide {
  0% {
    left: -24px;
  }
  50% {
    left: -36px;
  }
  100% {
    left: -24px;
  }
}

@keyframes slide2 {
  0% {
    left: -14px;
  }
  50% {
    left: -36px;
  }
  100% {
    left: -14px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
