/* 2page- publishing --start */
.title_pub {
  padding-top: 0;
}
.section .title::after {
  content: "";
  width: 20%;
  display: block;
  border-bottom: 5px solid var(--accent);
  margin: 15px auto 0;
}

.pub_sub {
  margin-bottom: 50px;
}

.fullpage p .text_color,
.design_sec01 p .text_color {
  font-size: 22px;
}

.pub_content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.publishing_img {
  width: 800px;
  height: 280px;
  overflow: hidden;
  transition: 0.5s;
}

.publishing_img img {
  width: 800px;
  height: 280px;
}

.click_hover {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 800px;
  height: 280px;
  color: #ffffff;
  text-align: center;
  line-height: 540px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  outline: none;
  border: none;
  font-size: 22px;
  color: #ffffff;
}

.click_hover:hover {
  opacity: 1;
  cursor: pointer;
}

.pub_text {
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(238.85deg, #1363c0 0%, #257fe9 110.51%);
  border-radius: 30px;
}

.pub_title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: white;
  margin: 0 0 30px;
}

.pub_text p {
  width: 340px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.4;
}

.pub_info ul {
  padding-top: 50px;
}
